html,body
{
    width:100%;
    height:100%;
    margin: 0px;
    padding:0px;
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
body
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;

}
#board
{
    border: 1px solid white;
    width:100vh;
    max-width: 20vh;
}
.result
{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid green;

}
.numpad
{
    display: flex;
    flex-direction: column;    
}

.num
{
    padding:5px;
    margin: 5px; 
    width: 30px;
    height: 30px;
}
.center
{
    align-items: center;
    justify-content: center;
}